{% extends "GuillaumeRacineBundle::layout.html.twig" %}
{% block inmenu %}
    <ul class="nav navbar-nav">
    <li><a href="{{path("guillaume_racine_homepage")}}">Home</a></li>
    <li><a href="{{path("guillaume_twig_homepage")}}">Vers Twig</a></li>
    <li class="active"><a href="{{path("guillaume_crud_homepage")}}">Vers Crud</a></li>
</ul>
{% endblock %}
{% block incorps %}
    <h1>Edition d'article</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('CRUD_article_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{%endblock %}
